.inner.py-5.space-y-10
  %div{ class: "grid grid-cols-[16px_1fr_16px] gap-2" }
    = link_to root_path do
      = image_tag 'icon_arrow-left.svg', alt: '左向き矢印', height: '12', width: '17', class: 'w-4 block'
    %h1.text-center= @user.name
    %span
  .text-center
    %label.cursor-pointer.inline-block
      = image_tag @user.avatar_url, alt: 'アバター', height: '76', width: '76', class: 'rounded-full w-20 p-1 border border-[#E91E63] mx-auto aspect-square object-cover', id: "js-avatar-image"
      %input#js-avatar-input.hidden(type="file" accept="image/*")
  .grid.grid-cols-3.gap-10.w-fit.mx-auto
    -# TODO: 数字を動的にする
    .text-center
      %p 44
      %p.text-brandGray.text-sm Posts
    .text-center
      %p 44
      %p.text-brandGray.text-sm Followers
    .text-center
      %p 44
      %p.text-brandGray.text-sm Following
  .grid.grid-cols-3.gap-2.auto-rows-fr
    -# TODO: 画像を動的にする
    .row-span-2.col-span-2.aspect-square
      = image_tag 'img_post1.webp', alt: '', class: 'object-cover h-full'
    .aspect-square
      = image_tag 'img_post2.webp', alt: '', class: 'object-cover h-full'
    .aspect-square
      = image_tag 'img_post3.webp', alt: '', class: 'object-cover h-full'
    .aspect-square
      = image_tag 'img_post4.webp', alt: '', class: 'object-cover h-full'
    .row-span-2.col-span-2.aspect-square
      = image_tag 'img_post5.webp', alt: '', class: 'object-cover h-full'
    .aspect-square
      = image_tag 'img_post6.webp', alt: '', class: 'object-cover h-full'
