= render 'devise/shared/auth_layout' do
  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'h-full' }) do |f|
    .flex.flex-col.gap-5.auto-cols-max.h-full
      = render 'devise/shared/error_messages', resource: resource
      .field
        = f.label :name, t('auth.registration.name_label')
        = f.text_field :name, autofocus: true
      .field
        = f.label :email, t('auth.registration.email_label')
        = f.email_field :email, autocomplete: 'email'
      .field
        = f.label :password, t('auth.registration.password_label')
        = f.password_field :password, autocomplete: 'new-password'
      .mt-auto
        = f.submit t('auth.registration.submit'), {class: 'submit-button'}
      .text-link.underline.text-right{ class: '[&>a]:py-1 [&>a]:inline-block' }
        = render 'devise/shared/links'
