.inner{ "data-post-id": @post.id }
  .pb-25
    -# ナビゲーション
    .navigation
      = render 'commons/back_link'
      %h1.text-center= t('comments.title')
      %span

    -# コメント一覧
    .space-y-8.mt-10#js-comment-container
      - @comments.each do |comment|
        .flex.gap-2
          = image_tag comment.user.avatar_url, class: 'size-8 rounded-full', alt: "#{comment.user.name}のアバター"
          .space-y-1
            %p.text-base= comment.user.name
            %p.text-sm.text-brandGray.whitespace-pre-line= comment.content

    -# コメント投稿フォーム
    %form.space-y-1.px-4.mx-auto.max-w-md.fixed.left-0.right-0.bottom-20.md:bottom-2.sidebar-offset-fixed{ id: 'js-comment-form' }
      = text_area_tag :comment_content, '', id: 'js-mention-input',
                                            class: 'bg-white p-3 border border-brandGrayLight leading-normal shadow-lg w-full field-sizing-content',
                                            placeholder: t('comments.placeholder'),
                                            required: true,
                                            maxlength: 100
      %button.w-full.bg-black.text-white.py-2= t('comments.submit')
