.inner.pt-5.pb-30{ "data-post-id": @post.id }
  %div{ class: 'grid grid-cols-[16px_1fr_16px] gap-2' }
    = link_to root_path do
      = image_tag 'icon_arrow-left.svg', alt: '左向き矢印', height: '12', width: '17', class: 'w-4 block'
    %h1.text-center Comment
    %span
  #js-comment-container.space-y-8.mt-10
    - @comments.each do |comment|
      .flex.gap-2.items-center
        = image_tag comment.user.avatar_url, class: 'size-8 rounded-full'
        .space-y-1
          %p.text-base= comment.user.name
          %p.text-sm.text-brandGray= comment.content
  %form.space-y-1.fixed.bottom-2.left-0.right-0.inner{ id: "js-comment-form" }
    = text_area_tag :comment_content, '', id: "js-mention-input", class: 'bg-white p-3 border border-brandGrayLight leading-normal shadow-lg w-full  field-sizing-content', placeholder: 'Post comment', required: true
    %button.w-full.bg-black.text-white.py-2.rounded Submit
