.grid.h-full{ class: 'grid-rows-[auto_1fr]' }
  .inner.inner--wide
    = image_tag 'bg_auth-fv.webp', alt: '', height: '298', width: '375'
  .inner.pb-20
    .mb-6.space-y-2
      %p.text-xs.font-semibold.text-gray-600= t('drawer.language')
      .rounded-2xl.border.border-gray-200.bg-gray-50.p-1.flex.gap-1
        = link_to auth_locale_switch_path(:en, resource_name), class: "locale-switch-button #{I18n.locale == :en ? 'locale-switch-button--active' : 'locale-switch-button--inactive'}" do
          %span= t('languages.en')
        = link_to auth_locale_switch_path(:ja, resource_name), class: "locale-switch-button #{I18n.locale == :ja ? 'locale-switch-button--active' : 'locale-switch-button--inactive'}" do
          %span= t('languages.ja')
    = yield
