.grid.h-full{ class: "grid-rows-[auto_1fr]" }
  .inner.inner--wide
    = image_tag 'bg_auth-fv.webp', alt: '', height: '298', width: '375'
  .inner.pt-8.pb-20
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "h-full" }) do |f|
      .flex.flex-col.gap-5.auto-cols-max.h-full
        = render "devise/shared/error_messages", resource: resource
        .field
          = f.label :email
          = f.email_field :email, autofocus: true, autocomplete: "email"
        .mt-auto
          = f.submit "Send me reset password instructions", {class: "submit-button"}
        .text-link.underline.text-right{ class: "[&>a]:py-1 [&>a]:inline-block" }
          = render "devise/shared/links"
