.space-y-3{ "data-post-id": post.id }
  .flex.items-center.gap-3
    = link_to profile_path do
      = image_tag post.user.avatar_url, alt: 'アバター', height: '40', width: '40', class: 'rounded-full size-10 aspect-square object-cover'
    %div
      = link_to profile_path do
        %p.text-sm= post.user.name
      %p.text-xs.text-brandGray= post.time_ago
  - gallery_class = case post.images.count
  - when 3 then 'post-gallery-three'
  - when 2 then 'post-gallery-two'
  %div{ class: gallery_class }
    - post.images.each do |image|
      = image_tag url_for(image), alt: ''
  .space-y-1
    %p.text-xs
      %span.font-medium.pr-1= post.user.name
      %span= post.caption
    - likes_summary = post.likes_summary
    - if post.owned_by?(current_user) && likes_summary
      %p.text-xs= likes_summary
  .flex.gap-3
    %button.js-like-button.like-button{ "data-liked": post.liked_by?(current_user) }
    -# TODO: コメント機能の実装
    = link_to '#', class: 'size-5' do
      = image_tag 'icon_comment.webp', alt: 'comment'
    -# TODO: シェア機能の実装
    %button.js-share-button.size-5
      = image_tag 'icon_share.webp', alt: 'share'
