= render 'devise/shared/auth_layout' do
  = form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'h-full' }) do |f|
    .flex.flex-col.gap-5.auto-cols-max.h-full
      .field
        = f.label :email
        = f.email_field :email, autofocus: true, autocomplete: 'email'
      .field
        = f.label :password
        = f.password_field :password, autocomplete: 'current-password'
      .mt-auto
        = f.submit 'LOGIN', {class: 'submit-button'}
      .text-link.underline.text-right{ class: '[&>a]:py-1 [&>a]:inline-block' }
        = render 'devise/shared/links'
