.inner.space-y-10
  - if @posts.any?
    - @posts.each do |post|
      = render 'commons/post', post: post
  - else
    .text-center.space-y-6.py-20
      %p.text-xl.text-gray-700= t('posts.index.empty_title')
      %p.text-base.text-gray-500= t('posts.index.empty_description')
      = link_to explore_path, class: 'inline-block px-6 py-3 bg-black text-white rounded-lg hover:bg-gray-800 transition-colors' do
        = t('posts.index.find_users')
