= form_with(model: @post, local: true, html: { multipart: true }, data: { turbo: false }) do |f|
  .inner.py-5.space-y-10
    .grid.grid-cols-3
      = link_to t('posts.new.cancel'), root_path, class: 'text-link w-fit'
      %h1.text-center= t('posts.new.title')
      .text-right
        = f.submit t('posts.new.submit'), class: 'w-fit'
    .space-y-5
      .flex.items-center.gap-3
        = image_tag @user.avatar_url, alt: 'アバター', height: '40', width: '40', class: 'rounded-full size-10 aspect-square object-cover'
        %p.text-center= @user.name
      - if @post.errors.any?
        .border.border-danger.text-danger.px-4.py-3.rounded.my-4
          %ul
            - @post.errors.full_messages.each do |message|
              %li= message
      = f.text_field :caption, class: 'w-full p-2 border-b border-brandGrayLight', placeholder: t('posts.new.placeholder')
      = f.file_field :images, multiple: true, accept: 'image/*', class: 'filepond'
