!!!
%html
  %head
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type' }
    %title= content_for(:title) || 'Instagram Like App'
    %meta{ content: 'width=device-width,initial-scale=1', name: 'viewport' }
    %meta{ content: 'yes', name: 'apple-mobile-web-app-capable' }
    = csrf_meta_tags
    = csp_meta_tag
    = yield :head
    %link{ href: 'https://fonts.googleapis.com', rel: 'preconnect' }
    %link{ crossorigin: '', href: 'https://fonts.gstatic.com', rel: 'preconnect' }
    %link{ href: 'https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap',
           rel: 'stylesheet' }
    %link{ href: '/manifest.json', rel: 'manifest' }
    %link{ href: '/icon.png', rel: 'icon', type: 'image/png' }
    %link{ href: '/icon.svg', rel: 'icon', type: 'image/svg+xml' }
    %link{ href: '/icon.png', rel: 'apple-touch-icon' }
    = stylesheet_link_tag 'tailwind', "data-turbo-track": 'reload'
    = javascript_include_tag 'application', "data-turbo-track": 'reload', type: 'module'
  %body
    = yield
